body {
    margin: 0;
}

main {
    padding: 2em;
}

a {
    text-decoration: none;
}

.jumbotron {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.lead {
    margin-top: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover {
    background-color: #286090;
    border-color: #204d74;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    border-top-color: #d5d5d5;
}

.lead {
    margin-top: 15px;
}

.container-fluid {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

.navbar-brand {
    color: #777;
    font-weight: bold;
    padding-right: 15px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
    color: #333;
}

.navbar-header {
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.nav.navbar-nav {
    list-style: none;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.nav-menu a {
    color: #777;
    padding: 15px;
}

.nav-menu a:focus, .nav-menu a:hover {
    color: #333;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    border-right: 4px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.news > * {
    opacity: 1;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
