.header {
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1070;
}

.logo {
  width: 78px;
  height: 39px;
  background-image: url(/static/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__brand h2 {
  font-size: 1.25rem;
  margin: 0 1rem;
}

.header__brand a {
  text-decoration: none;
}
